.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-content: center;
    background-color: antiquewhite;
   
}


body{
    margin: 0;
}


h2{

    background-color: aliceblue;
    border: 1px solid pink;
    padding: 20px;
    margin: 0px;
}