.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


body{
    margin: 0;
}


h2{

    background-color: aliceblue;
    border: 1px solid pink;
    padding: 20px;
    margin: 0px;
}


.grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}